

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">services</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>Services</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>SETTINGS</ion-button>
      <ion-button fill="outline" shape="round" (click)="goBack()">Back</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content>
  <h1>Services</h1>
</ion-content>

