
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">Ack St James Koromosho</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./about"
        routerLinkActive="active-link"
        >About</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./visit"
        routerLinkActive="active-link"
        >Visit</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./sermons"
        routerLinkActive="active-link"
        >Sermons</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./ministries"
        routerLinkActive="active-link"
        >Ministries</ion-button
      >
        <ion-button
        fill="outline"
        shape="round"
        routerLink="./events"
        routerLinkActive="active-link"
        >Events</ion-button
      >
        <ion-button
        fill="outline"
        shape="round"
        routerLink="./donate"
        routerLinkActive="active-link"
        >Donate</ion-button
      >
        <ion-button
        fill="outline"
        shape="round"
        routerLink="./contacts"
        routerLinkActive="active-link"
        >Contacts</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
