
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">Ack St James Koromosho</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./about"
        routerLinkActive="active-link"
        >About</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./services"
        routerLinkActive="active-link"
        >Services</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./projects"
        routerLinkActive="active-link"
        >Projects</ion-button
      >
      <ion-button
        fill="outline"
        shape="round"
        routerLink="./contacts"
        routerLinkActive="active-link"
        >Contacts</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
